.ftr-link{
    font-size: 12px;
    font-family: "Satoshi-Bold";
    color: $primary;
    text-decoration: none;
}

.ftr-text{
    font-family: $font-family-base;
    font-size: 12px;
}

.text-devby{
    font-family: "Satoshi-Bold";
}