{% load wagtailimages_tags %}

<footer class="bg-white text-secondary py-4" id="contactus">
    <div class="container-xxl text-center mt-5">
        <div class="row justify-content-between">

          
        </div>

        <div class="row align-items-center">
            <div class="col-4 d-flex align-items-center">
                <a class="ftr-link pe-2" href="#">Mentions Légales</a>
                <div class="border-end border-1 border-primary" style="height: 12px;"></div>
                <a class="ftr-link pe-2 ps-2" href="#">Politique de confidentialité</a>
                <div class="border-end border-1 border-primary" style="height: 12px;"></div>
                <a class="ftr-link ps-2" href="#">CGV</a>
            </div>
          
        </div>
    </div>
</footer>