{% load wagtailimages_tags %}

<div class="text-end me-4 mt-4 mb-4 text-primary">
  <p class="text mb-0">© Copyright newRai 2026. Tous droits réservés.</p>
</div>

<nav class="navbar navbar-expand-lg bg-white sticky-top" id="mainNavbar">
  <div class="container-xxl d-flex align-items-end">
    <a class="navbar-brand" href="#">
      {% if settings.base.NavigationSettings.logo %}
        {% image settings.base.NavigationSettings.logo original %}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto gap-2 gap-md-5 pt-3 pt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Transformer mon cabinet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nous contacter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>